@()(implicit request: javax.servlet.http.HttpServletRequest)
@import org.scalatra.forms.views._

@layouts.html.default("User Authentitacion: Login", "Login for Access Credentials", Some("login.css")){
    <form action="/login" method="POST">
        <label for="username">Usuario</label>
        <input type="text" id="username" name="username" placeholder="Usuario...">
        <span class="error">@error("username")</span>
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password">
        <span class="error">@error("password")</span>
        <input type="submit" value="Submit">
    </form>
}
